table, td {
    border: 2px solid black;
    
}

thead {
    background-color: bisque;
    
    
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;

}

td {
    height: 50px;
    vertical-align: middle;
    padding: 10px;
}

#locationsHead {
    color: brown;
    font-size: larger;
    font-weight: 400;
}
