table, td {
    border: 2px solid black;
    
}

thead {
    background-color: bisque;
    
    
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;

}

td {
    height: 50px;
    vertical-align: middle;
    padding: 10px;
}

#locationsHead {
    color: brown;
    font-size: larger;
    font-weight: 400;
}

header {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}
.column1, .column2, .column3, .column4, .column5 {
    width: 17%;
    float: left;
    margin: 1%;
}

.column5 {margin-right: 0%;}

.center {
    display: block;
    width: 40%;
    border: black;
    border-style: solid;
    border-width: thick;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.text-align-center {
    text-align: center;

}

#add {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

label {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}